.header-container {
  background-color: #222;
  height: 50px;
  color: white;
  margin-bottom: 1.5rem;

  .header-text {
    font-size: 2rem;    
    padding-left: 10px;
  }

  .logout-button {
    
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    height: 100%;
    padding: 0 10px;
    font-size: 1.2rem;
    z-index: 1;

    // @media screen and (max-width: 30rem) {
    //   background-color: #222;
    //   float: none;
    //   display: block;
    //   margin-top: 20px;
    // }
  }
}